.Contenedor-Formulario-lista{
    padding: 2rem; 
}
.Formulario-lista p{
    text-align: center;
 
}
@media(min-width: 630px ) {
    .Contenedor-Formulario-lista{
       display: grid;
       grid-template-columns: repeat(2, 1fr);

    }
}