

.Formulario-titulo{
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
}
.Formulario-tituloP{
text-align: center;
color: rgb(83, 83, 83);
}

.form{  
   background-color: var( --ColorFondoClaro);   
   border-radius: 0.3rem;
}
@media(min-width: 630px) {
    .form{
        margin: 1rem ;
    }
}
.form-body{
    text-align: center;
    padding: 0.5rem;
}
label{
    display: grid;
    color: rgb(83, 83, 83);
    text-transform: uppercase;
}
input{
    font-size: 0.9rem;
    padding: 0.5rem;
    margin: 0.6rem;
    border-radius: 0.3rem;
    background-color: var(--ColorFondoOscuro);
    color: white;
    
}
.form-Ingreso{
    margin: 1rem auto;
}
.form-Ingreso textarea{
    background-color: var(--ColorFondoOscuro);
    color: white;
}
.Btn-enviar{
    background-color: var( --ColorAmarillo);
    padding: 1rem;
    border-radius: 0.6rem;

}
.Btn-enviar:hover{
    cursor: pointer;

}
.ValidacionForm{
    text-align: center;
    background-color: red;
    color: white;
    padding: 1rem;
    margin: 1rem;
}
