

.Formulario-titulo{
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
}
.Formulario-tituloP{
text-align: center;
color: var(--ColorAmarillo);
margin-bottom: 5%;
}

.form{
    background-color: var(--ColorFondoClaro);
    border-radius: 0.5rem;
    
}
.form-body{
    text-align: center;
    padding: 0.5rem;
}
label{
    display: grid;
    color: white;
    text-transform: uppercase;
}
input{
    background-color: var(--ColorFondoOscuro);
    font-size: 0.9rem;
    padding: 0.5rem;
    margin: 0.6rem;
    color: white;
    
    
}
.form-Ingreso{
    margin: 1rem auto;
}
.Btn-enviar{
    background-color: var(--ColorFondoOscuro);
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--ColorRojo);
}
.Btn-enviar:hover{
    cursor: pointer;
    border: 1px solid var(--ColorRojo);
}
