

.titulo{
    text-align: center;
    margin: 2rem auto;
    font-size: 1.5rem;
    color: rgb(83, 83, 83);
}
.resumen{
    width: 80%;
    height: 10rem;
   
    background: #396afc;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2948ff, #396afc);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2948ff, #396afc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    border-radius: 0.5rem;

    color: var(--ColorAmarillo);
    margin: 1rem auto;
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;

}
.resumen h2{
   text-align: center;
   position: absolute;
   top: 15%;
   left: 50%;
   transform: translate(-55%, -50%);
   font-size: 1.5rem;
}
.contenedorResumen{
    display: flex;
    justify-content: space-evenly;
}
.ResumenDatos{
  
    font-size: 1.1rem;
    margin: 4rem auto;
    text-align: center;
    background-color: var(--ColorGrisClaro);
    padding: 1rem;
    
}
.ResumenDatos span{
    color: white;
}