

.titulo{
    text-align: center;
    margin: 2rem auto;
    font-size: 1.5rem;
    color: rgb(83, 83, 83);
}
.resumen{
    width: 80%;
    height: 10rem;
    background-color: var( --ColorFondoClaro);  
    border-radius: 0.5rem;

    color: var(--ColorAmarillo);
    margin: 1rem auto;
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;

}
.resumen h2{
   text-align: center;
   position: absolute;
   top: 55%;
   left: 50%;
   transform: translate(-55%, -50%);
}