@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --ColorFondoOscuro:rgb(31, 32, 35);
    --ColorFondoClaro:rgb(39, 40, 45);
    --ColorAmarillo: rgb(78, 129, 216);
    --ColorRojo:red;
}
html{
    position: relative;
}
body{
   background-color: rgb(31,32, 35);

    
}
.footer{
    text-align: center;
    padding: 1rem;
    background-color: var(--ColorFondoClaro);
    color:  rgb(83, 83, 83);;
    width: 100%;
    position: absolute;
    margin: 1rem auto 0rem;
}
