@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --ColorFondoOscuro:rgb(31, 32, 35);
    --ColorFondoClaro:rgb(39, 40, 45);
    --ColorAmarillo: yellow;
    --ColorRojo:red;
}

body{
   background-color: #ecf0f3;
    
}