@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --ColorFondoOscuro:rgb(31, 32, 35);
    --ColorFondoClaro:rgb(39, 40, 45);
    --ColorAmarillo: rgb(229, 248, 118);
    --ColorRojo:red;
}

body{
   background-color: #ecf0f3;
    
}
.footer{
    text-align: center;
    padding: 1rem;
    background-color: var(--ColorFondoClaro);
    color:  rgb(83, 83, 83);;
}